<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
		<style>
		    .butt{
				background: rgb(0,122,255);
                margin-top: 20px;
			}

            ul{
				margin: 0;
				padding: 0;
                margin-top: -13px;
			}
			ul.errors {
				list-style-type: none;
				padding: 0;
				color: red;
                font-size: smaller;
			}
		</style>
      	<title>TODO LIST</title>
     	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>

		<div class="col-sm-6 col-sm-offset-3 panel panel-default" style="padding: 5px; margin-top: 30px;">
			<div style="background-color: rgb(0,122,255);padding-bottom: 15px; ">
			<h3 class="panel-heading" style="text-align: center;  color: white; margin: 0;">X Task</h3>
			<h3 style="text-align: center; font-size: 1.2em; margin: 0; margin-bottom: 5px;color: white;">Log in</h3>
			</div>
		<form class="form-vertical panel-body" action="/loginx" method="POST" style="font-size: 1em;">
			{{ loginform.csrf_token }} 
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-1">
					{{ loginform.email(class="form-control",
					placeholder="Email Address" )}}
                    {% if loginform.email.errors %}
						<ul class="errors">
							{% for error in loginform.email.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				 </div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-1">
					{{ loginform.password(class="form-control",
					placeholder="Password" )}}
                    {% if loginform.password.errors %}
						<ul class="errors">
							{% for error in loginform.password.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-8 col-sm-offset-1">
					{{ loginform.submit(class="btn butt btn-primary
					btn-block")}}
				</div>
			</div>
		</form>
        <p class="col-sm-8 col-sm-offset-1" style="text-align: center;"><a href="{{url_for('home')}}"> Sign up</a></p>
		</div>
		
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	</body>
</html>